$primary-color: rgb(245, 173, 126);
$secondary-color: rgb(236, 144, 82);
$tertiary-color: rgb(248, 207, 180);

$back-dark-color: rgb(35, 31, 32);

$nav-height: 85px;

$pizza-width: 330px;
$wrapper-gap: 40px;